#capture{
    background-image: url('../assets/icons/image\ 16.png');
    background-size: cover;
    color: white;
    width: 100px;
    height: 200px;
}
.center{
    margin: 0 auto;
}
.name_cert{
    font-family: 'Inr';
}