@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Circular';
  src: url('./res/CIRCULARSTD-MEDIUM.OTF');
}

body {
  margin: 0;
  background-color: #101115;
  font-family: 'Circular';

}

